@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Colors */
  --background-color: #0d1117;
  --color-pagraph: #f0f6fc;

  /* Font */
  --fontfamily-paragraph: "Poppins", sans-serif;
  --fontfamily-heading: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--color-pagraph);
  font-family: var(--fontfamily-paragraph);
}

h1 { 
  font-size: 2.4em;
  font-family: var(--fontfamily-heading);
}

h2 { 
  font-size: 2em;
}

p, a, li { 
  font-size: 1.6em;
}

.mainComponent { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6.1em);
}

.headerComponent { 
  height: 6.1em;
  display: flex;
  align-items: center;  
}